<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="/etudiants/deptinfo/p/pari_p1/logs/app.log" immediateFlush="false"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <Policies>
            <OnStartupTriggeringPolicy />
        </Policies>
    </RollingFile>
    <Async name="Async">
        <AppenderRef ref="RollingFile"/>
    </Async>
  </Appenders>
  <Loggers>
  	<Logger name="conceptualModel" level="info" additivity="false">
      <AppenderRef ref="Async" level="info"/>
      <AppenderRef ref="Console" level="info"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>